<div style="width: 90%; background-color:#ecf0f1; margin: 0 auto;">
        <h1 style="text-align: center; background-color:#d6eaf8">General statistics</h1>
        <%= table(id: 'statistics.txt', header: false, styled: 'bs', text: true, attrib: {'class' => 'table table-striped'})
        %>
</div>

<div style="width: 90%; background-color:#ecf0f1; margin: 0 auto;">
	<p> Ranked disease genes report. </p>
	<%=boxplot(id: 'ranked_candidates.txt', header: true, row_names: true, default: false, smp_attr: [2], group: 'cluster') do |table|
			#table.first.map!{|hcell| 'rank'}
			#table.unshift(['gene', 'rank', 'cluster'])
	end
	%>
</div>

<div style="width: 90%; background-color:#ecf0f1; margin: 0 auto;">
	<p> Ranked CNV genes report. </p>
	<%=boxplot(id: 'ranked_cnvs.txt', header: true, row_names: true, default: false, smp_attr: [2], group: 'cluster') do |table|
			#table.first.map!{|hcell| 'rank'}
			#table.unshift(['gene', 'rank', 'cluster'])
	end
	%>
</div>

<div style="width: 90%; background-color:#ecf0f1; margin: 0 auto;">
	<p> Genes frequency within cluster. </p>
	<%=boxplot(id: 'cluster_gene_stats.txt', header: true, row_names: true, default: false, smp_attr: [2], group: 'cluster') do |table|
			#table.first.map!{|hcell| 'rank'}
			#table.unshift(['gene', 'rank', 'cluster'])
	end
	%>
</div>

<div style="width: 90%; background-color:#ecf0f1; margin: 0 auto;">
	<p> Genes frequency in all clusters </p>
	<%=boxplot(id: 'cluster_gene_stats.txt', header: true, fields: [0,1], row_names: true) do |table|
		table.first.map!{|hcell| 'percentage'}
	end
	%>
</div>